
/* Top Section */
.top-section {
    height: 100vh;
    width: auto;
    background-color: #3b3b3b;
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 4px 4px;
    align-items: center;
    justify-content: center;
}

.title-container {
    color: white;
}

.title-container > h1 {
    font-size: 5rem;
}

.btn-contact {
    margin-top: 30px;
}

/* About Me Section */

.about-me-section {
    height: 300px;
    width: auto;
    background-color: #ffffff;
    justify-content: center;
}

.about-me-section > h1 {
    position: relative;
    top: 30vh;
    font-size: 3rem;
}

/* Skill Animation */

.skill:hover {
    animation: skill 0.5s;
}

@keyframes skill {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}
/* End of Skill Animation */