

.top-section {
    display: flex;
    height: 100vh;
    width: auto;
    background-color: #6cd19a;
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 4px 4px;
    align-items: center;
    justify-content: center;
}

.title-container {
    color: white;
}

.title-container > h1 {
    font-size: 5rem;
}

.btn-contact {
    margin-top: 30px;
}

.side-menu-item {
    transition: 0.3s;
}

.side-menu-item:hover {
    transform: translate(0, -10px);
}